@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography.scss";
@import "./main.scss";

@layer utilities {
  .full-layout {
    @apply w-full h-full;
  }

  .max-layout {
    @apply max-w-[1920px] mx-auto;
  }

  .underline-text {
    @apply relative after:block after:h-[1px] after:w-0 after:bg-current after:absolute after:left-0 after:bottom-0 after:transition-all after:duration-300 after:ease-in-out;
  }

  .group:hover .underline-text::after {
    width: 100%;
  }
}
