@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography.scss";
@import "./main.scss"; 

@layer utilities {

  .full-layout {
    @apply w-full h-full;
  }

  .max-layout {
    @apply max-w-[1920px] mx-auto;
  }

}